{% for entry in tree %}
## {% if entry.date %}🚀 {% endif %}{{ entry.version }}{% if entry.date %} ({{ entry.date }}){% endif %}

{% for type, changes in entry.changes.items() %}

{% if type %}
### {{ type.emoji }} {{ type.heading }}
{% endif %}

{% for change in changes %}
{% if change.scope %}
- **{{ change.scope }}**: {{ change.message }}
{% elif change.message %}
- {{ change.message }}
{% endif %}
{% endfor %}
{% endfor %}

{% endfor -%}
