{% for entry in tree %}
## {% if entry.date %}🚀 {% endif %}{{ entry.version }}{% if entry.date %} ({{ entry.date }}){% endif %}

{% for type, changes in entry.changes.items() %}

{% if type %}
### {{ type.emoji }} {{ type.heading }}
{% endif %}

{% macro render_change(change) -%}
{%- if change.message -%}
- {% if change.scope %}**{{ change.scope }}**: {% endif %}{{ change.message }}
{%- endif -%}
{% endmacro -%}

{% if config.group_by_scope %}
{% for scope, changes in changes|rejectattr("scope", "none")|groupby("scope") %}
{% for change in changes %}
{{ render_change(change) }}
{% endfor %}
{% endfor %}
{% for change in changes|selectattr("scope", "none") %}
{{ render_change(change) }}
{% endfor %}
{% else %}
{% for change in changes %}
{{ render_change(change) }}
{% endfor %}
{% endif %}
{% endfor %}

{% endfor -%}
