name: CI

on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up PDM
        uses: pdm-project/setup-pdm@main
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pdm sync -d -G test

      - name: Run Tests
        run: pdm run cover -v --force-sugar --color=yes

      - name: Upload coverage report to Codecov
        uses: qltysh/qlty-action/coverage@v2
        with:
          oidc: true
          files: reports/coverage.xml
