name: CI

on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v6
      - name: Set up PDM
        uses: pdm-project/setup-pdm@main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: pdm sync -d -G test

      - name: Run Tests
        run: pdm run cover -v --force-sugar --color=yes  -o junit_family=legacy

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: reports

      - name: Upload test results to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ !cancelled() }}
        with:
          directory: reports
          report_type: test_results
